/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

/* SECTION HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

/* VÍDEO */
.bg-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* como você escolheu */
    display: block;
}

/* TEXTO SOBRE O VÍDEO */
.overlay-txt {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fdfdfd;
    padding: 1.5rem;
    z-index: 2;
}

/* TIPOGRAFIA */
.overlay-txt h1 {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0.3rem 0;
}

.overlay-txt .emoji {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.overlay-txt .subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.overlay-txt p {
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 0.9;
}

/* SETA */
.arrow img {
    height: 90px;
    margin-top: 2.rem;
}

/* SECTION 2 */
.s2 {
    height: 100vh;
    background: #e9b3c2;
    /* rosa suave */
}